<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/[PL][00]201604138_김용환_item1/src/main/java/parser/parse/CuteInterpreter.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="parser.parse.CuteInterpreter"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="[PL][00]201604138_김용환_item1"/>
</launchConfiguration>
